.rateContainer {
  display: flex;
  justify-content: space-between;
}

.rate {
  margin: 0;
  margin-right: 10px;
}

.list_item {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
}
