<div class="container">
  <h2 class="converterTitle">Міняю</h2>
  <input
    type="number"
    id="input"
    placeholder="Введіть суму..."
    (input)="handleChangeInput($event)"
    class="input"
  />
  <select
    name="select1"
    [ngModel]="selectedOption1"
    (change)="handleChangeSelect1($event)"
    class="select"
  >
    <option value="UAH">UAH</option>
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>
</div>

<div>
  <h2 class="converterTitle">Отримую</h2>
  <input
    type="number"
    id="result"
    value="{{ result }}"
    class="input"
    readonly
  />
  <select
    name="select2"
    [ngModel]="selectedOption2"
    (change)="handleChangeSelect2($event)"
    class="select"
  >
    <option value="UAH">UAH</option>
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>
</div>
