<div class="container">
  <h2 class="converterTitle">Міняю</h2>
  <form [formGroup]="converterForm1">
    <input
      formControlName="input"
      type="number"
      placeholder="Введіть суму..."
      (input)="handleChangeInput()"
      class="input"
    />
    <select
      formControlName="selectedOption1"
      (change)="handleChangeSelect1()"
      class="select"
    >
      <ng-container *ngFor="let currency of currencies">
        <option [value]="currency.cc">
          {{ currency.cc }}
        </option>
      </ng-container>
    </select>
  </form>
</div>

<div>
  <h2 class="converterTitle">Отримую</h2>
  <form [formGroup]="converterForm2">
    <input
      formControlName="result"
      value="{{ converterForm2.value.result }}"
      type="number"
      class="input"
      readonly
    />
    <select
      formControlName="selectedOption2"
      (change)="handleChangeSelect2()"
      class="select"
    >
      <ng-container *ngFor="let currency of currencies">
        <option [value]="currency.cc">
          {{ currency.cc }}
        </option>
      </ng-container>
    </select>
  </form>
</div>
