/* You can add global styles to this file, and also import other style files */
@import "./app/components/rates/rates.component.css";
@import "./app/app.component.css";
@import "./app/components/converter/converter.component.css";

:host {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #333;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}
